*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --dark: hsl(256, 34%, 71%);
}

img {
  object-fit: contain;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  font-family: "Poppins", sans-serif;
  background-image: url("images/bg-desktop.svg");
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
}

.title img {
  width: 190px;
}

.title {
  margin-top: 40px;
  margin-left: 76px;
}

.contents {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-left: 74px;
  margin-top: 44px;
}

.bg-paragraf {
  padding: 50px 70px;
}

h1 {
  font-size: 2.4rem;
  color: white;
}

p {
  color: white;
  line-height: 26px;
  margin-top: 18px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.8px;
}

button {
  width: 210px;
  height: 58px;
  border: none;
  border-radius: 32px;
  color: var(--violet);
  margin-top: 18px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 876px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
  }
  .title {
    margin-left: 45px;
    margin-bottom: 42px;
  }

  .contents {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 28px;
  }

  .bg-desktop {
    display: grid;
    place-items: center;
  }

  .bg-desktop img {
    width: 70%;
  }

  .bg-paragraf {
    width: 90%;
    padding: 0;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width:1171px) {
  .contents {
    flex-wrap: wrap;
    margin: 0;
  }
}
