@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  font-family: "Epilogue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

/* Buttons */
.outlined-btn,
.transparent-btn {
  padding: 1rem 2rem;
  border-radius: 14px;
  color: var(--medium-gray);
  cursor: pointer;
  background-color: transparent;
}

.transparent-btn {
  border: none;
}

.transparent-btn:hover {
  color: var(--almost-black);
}

.outlined-btn {
  border: 1px solid var(--almost-black);
}

.outlined-btn:hover {
  color: var(--almost-black);
}

.primary-btn {
  background-color: var(--almost-black);
  width: fit-content;
  padding: 1rem 2rem;
  color: var(--almost-white);
  border-radius: 10px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--almost-white);
  border: 1px solid var(--almost-black);
  color: var(--almost-black);
  font-weight: 700;
}

/* navbar styles */
nav {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 3rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  margin-left: 4rem;
  list-style: none;
  gap: 2.5rem;
}

.nav-links li {
  cursor: pointer;
  color: var(--medium-gray);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  user-select: none;
}

.nav-links li a {
  cursor: pointer;
  color: var(--medium-gray);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  user-select: none;
  text-decoration: none;
}

.nav-links li:hover {
  color: var(--almost-black);
}

.mobile-menu-btn {
  display: none;
}

.mobile-menu {
  display: none;
}

.sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  gap: 1rem;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 10px;
}

.one {
  width: 180px;
  height: 180px;
  bottom: -200px;
  right: 0;
}

.two {
  width: 150px;
  height: 135px;
  bottom: -158px;
}

.sub-menu.sub-link {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 0.5rem;
}

.active .arrow {
  transform: rotate(180deg);
  transition: 0.2s;
}

.active-menu {
  display: flex !important;
  padding-left: 30px;
  padding-top: 28px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  height: calc(100vh - 80px);
}

.main-container {
  display: grid;
  align-items: end;
  max-width: 1100px;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

.main-left {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-heading {
  width: 85%;
  font-size: 4rem;
}

.main-content {
  font-size: 18px;
  line-height: 1.8;
  color: var(--medium-gray);
}

.logoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .nav-container {
    padding-inline: 1rem;
  }

  .mobile-menu-btn {
    display: flex;
    cursor: pointer;
    z-index: 999;
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: var(--almost-white);
    padding: 5rem 2rem;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  .mobile-links li {
    display: flex;
    color: var(--medium-gray);
    flex-direction: column;
    cursor: pointer;
  }

  .mobile-links li p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .mobile-sub {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }

  .overflow {
    background-color: black;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    opacity: 0.7;
  }

  nav {
    margin-bottom: 0;
  }

  .nav-links {
    display: none;
  }

  .nav-right {
    display: none;
  }

  main {
    align-items: flex-start;
    padding: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }

  .main-left {
    height: 0;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .main-heading {
    font-size: 2.1rem;
  }

  .logoes {
    width: 100%;
    padding-inline: 1rem;
    flex-wrap: wrap;
  }

  .logoes img {
    width: 80px;
  }
}

@media screen and (max-width: 500px) {
  .main-left {
    margin-top: 1rem;
    gap: 2.5rem;
  }

  .main-heading {
    font-size: 1.8rem;
}
}
