:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

p {
  font-size: 13px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
  padding: 100px 30px;
}

.container {
  background-color: #fff;
  border-radius: 18px;
  max-width: 800px;
  margin: auto;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

.main-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 0 0;
}

.description {
  padding: 30px;
}

.description h2 {
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 22px;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.author-avatar {
  display: flex;
  align-items: center;
}

.avatar-photo {
  width: 50px;
  border-radius: 50%;
  margin-right: 22px;
}

.share-btn-container {
  .share-btn {
    width: 32px;
    aspect-ratio: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--grayish-blue);
  }

  .share-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-grayish-blue);
    color: var(--desaturated-dark-blue);
    position: absolute;
    overflow: hidden;
    height: 0;
    width: calc(100% + 60px);
    left: -30px;
    bottom: -30px;
    border-radius: 0 0 18px 18px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1;
  }

  .share-menu.open {
    visibility: visible;
    opacity: 1;
    height: 90px;
    overflow: visible;
  }

  .share-menu::after {
    content: "";
    background: var(--very-dark-grayish-blue);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: all 0.3s;
  }

  .share-menu.open::after {
    opacity: 0;
  }

  .share-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  .share-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }

  .share-content .share-btn {
    width: 28px;
    padding: 6px;
    margin-left: 10%;
  }
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .share-btn-container {
    position: relative;
    .share-menu.open {
      height: 70px;
    }

    .share-menu {
      bottom: calc(100% + 18px);
      width: 300px;
      border-radius: 18px;
      transform-origin: bottom;
      top: -85px;
      left: -135px;
    }

    .share-menu::after {
      top: auto;
      bottom: -12px;
    }

    .share-menu.open::after {
      opacity: 1;
    }

    .share-content .share-btn {
      display: none;
    }
  }
  .main-image img {
    height: 100%;
    border-radius: 18px 0 0 18px;
  }
}

@media (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
