@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --soft-red: hsl(10, 79%, 65%);
  --soft-red-light: hsl(10, 40%, 70%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.chart--header,
.chart--body {
  display: flex;
  padding: 30px;
  border-radius: 20px;
  width: 540px;
}

.chart--header {
  background-color: var(--soft-red);
  height: 128px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.chart--body {
  flex-direction: column;
  background: #fff;
  gap: 35px;
}

hr {
  border-radius: 0.01px solid var(--medium-brown);
  font-weight: lighter;
}

.total--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month {
  text-align: right;
}

.month h5:first-child {
  font-size: 18px;
}

.month h5:last-child {
  color: var(--medium-brown);
  font-size: 18px;
  font-weight: 500;

}

.total h5 {
  color: var(--medium-brown);
  font-weight: 500;
  font-size: 18px;
}

.chart--bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.bar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.bar div {
  position: relative;
  width: 50px;
  border-radius: 5px;
  background: var(--soft-red);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.bar div:hover {
  background-color: hsl(10, 100%, 76%);
}

.bar div:nth-child(1) {
  height: 50px;
}

.bar div:nth-child(1):hover #one {
  display: block;
}

.bar div:nth-child(2) {
  height: 100px;
}

.bar div:nth-child(2):hover #two {
  display: block;
}

.bar div:nth-child(3) {
  height: 150px;
  background-color: var(--cyan);
}

.bar div:nth-child(3):hover {
  background-color: hsl(187, 49%, 80%);
}

.bar div:nth-child(3):hover #three {
  display: block;
}

.bar div:nth-child(4) {
  height: 89px;
}

.bar div:nth-child(4):hover #four {
  display: block;
}

.bar div:nth-child(5) {
  height: 60px;
}

.bar div:nth-child(5):hover #five {
  display: block;
}

.bar div:nth-child(6) {
  height: 122px;
}

.bar div:nth-child(6):hover #six {
  display: block;
}

.bar div:nth-child(7) {
  height: 70px;
}

.bar div:nth-child(7):hover #seven {
  display: block;
}

.labels {
  display: flex;
  align-items: center;
  color: var(--medium-brown);
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.labels p {
  align-content: center;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px !important;
  height: auto !important;
  background-color: var(--dark-brown) !important;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
  top: -40px;
  margin-left: -5px;
}

#one {
  display: none;
}

#two {
  display: none;
}
#three {
  display: none;
}

#four {
  display: none;
}

#five {
  display: none;
}

#six {
  display: none;
}

#seven {
  display: none;
}

@media screen and (max-width: 678px) {
  .chart--header,
  .chart--body {
    padding: 20px;
    border-radius: 20px;
    width: 380px;
  }

  .chart--body h1{
    font-size: 1.8rem;
  }

  .bar {
    gap: 12px;  
  }
}
