@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --soft-red: hsl(10, 79%, 65%);
  --soft-red-light: hsl(10, 40%, 70%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --clr-small: hsl(28, 10%, 53%);
  --height: (52.36/4) em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  gap: 1rem;
}

.chart--header,
.chart--body {
  display: flex;
  width: 750px;
  padding: 28px;
  border-radius: 1rem;
  width: 28rem;
}

.chart--header {
  width: 540px;
  height: 128px;
  background-color: var(--soft-red);
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.chart--body {
  width: 540px;
  flex-direction: column;
  background: #fff;
  gap: 35px;
}

hr {
  border-radius: 0.01px solid var(--medium-brown);
  font-weight: lighter;
}

.total--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total h5 {
  color: var(--medium-brown);
  font-weight: 400;
  font-size: 18px;
}

.month {
  text-align: right;
}

.month h5:first-child {
  font-size: 18px;
}

.month h5:last-child {
  color: var(--medium-brown);
  font-size: 18px;
  font-weight: 400;
}

.chart--bar {
  display: flex;
  justify-content: space-between;
}

.chart-wrapper {
  width: 3rem;
  display: flex;
  align-items: flex-end;
  height: 90%;
}

.chart-value {
  height: var(--height);
  background: var(--soft-red);
  width: 100%;
  border-radius: 0.25rem;
}

.chart-value.active {
  background-color: var(--cyan);
}


.chart-title {
  color: var(--clr-small);
  font-size: 1rem;
}


@media screen and (max-width: 678px) {
  .chart--header,
  .chart--body {
    padding: 20px;
    border-radius: 20px;
    width: 380px;
  }

  .chart--body h1 {
    font-size: 1.8rem;
  }

}